<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<title>Curriculo - Inicio</title>
<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
				<li class="nav-item"><a class="nav-link" href="/contatos/cadastro">Contato</a></li>
			</ul>
		</nav>
		<div class="jumbotron">
			<h1 class="display-4">Olá, seja bem vindo!</h1>
			<p class="lead">Você esta em minha página currículo! Ela foi
				desenvolvida para que meu futuro empregador possa conhecer um pouco
				sobre mim e meus objetivos.</p>
			<hr class="my-4" />
			<p>Me chamo Adriano Cavalheiro sou estudante na área da
				tecnologia da informação no Instituto Federal de Educação Ciência e
				Tecnologia RS, Campus Restinga.</p>
			<p>Como estudante do curso de Análise e Desenvolvimento de
				Sistemas estou em busca de uma oportunidade para estagiar na área de
				desenvolvimento em uma empresa onde eu possa conhecer na prática o
				dia a dia de equipes de desenvolvimento, me desenvolver
				profissionalmente além de adquir conhecimento e experiência na área.
				Quer conhecer um pouco mais sobre mim? Acesse meu perfil Linkedin!</p>
			<p>Esta página foi construida em linguagem Java utilizando as
				técnologias: Maven, Spring MVC, Spring Boot, Spring JPA, Thymeleaf e Bootstrap.</p>
			<a class="btn btn-primary btn-lg"
				href="https://www.linkedin.com/in/adrianocavalheiro1/"
				target="_blank" role="button">Perfil Linkedin</a>
		</div>

		<footer class="footer">
				<hr />
				<div id="rodape-inicio">
				<span class="text-muted"><a href="/contatos/login" style="color: black;">&copy;</a> 2018 Adriano Cavalheiro</span>
				</div>
		</footer>
	</div>
</body>
</html>





